/********************
Overrides For Ideal Image Slider v1.5.0
********************/

.ideal-image-slider {
  background-image: none;
}

.iis-bullet-nav {
  text-align: center;
  width: 100%;
  right: 0;
}

.iis-bullet-nav a {
  height: 1em;
  width: 1em;
}