body {
    text-align: center;
    background-image: url('images/contemporary_china_2.png');
    background-repeat: repeat;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

section#content {
  background-color: rgba(105,162,226,0.3);
  margin: 0 2em;
  padding: 2em;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}
